{% set form = hookable_metadata.context.form %}

{% for form_shipment in form.shipments %}
    {% for choice in form_shipment.method.vars.choices %}
        {% set method = choice.data %}
        {% if method.calculator == 'sendcloud' and (method.configuration.enable_checkout_override ?? false) %}
            <div
                id="sendcloud-panel-{{ method.id }}"
                class="mb-3"
                data-controller="sendcloud-shipping-options"
                data-sendcloud-shipping-options-method-id-value="{{ method.id }}"
            >
                {{ component('sendcloud_shipping_options', { methodId: method.id }) }}
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
